<select (change)="onChange($event.target.value)" materialize="material_select">
        <option value="all">All</option>
        <option value="low-calories">Less Than</option>
        <option value='high-calories'>Greater Than</option>
</select>
<table *ngIf="childFoodList" class="table table-striped">
  <thead>
    <tr>
      <td>Food</td>
      <td>calories</td>
      <td>Notes</td>
      <td>Edit</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let food of childFoodList | calorieFilter:filterBy">
      <td>{{food.name}}</td>
      <td>{{food.calories}}</td>
      <td>{{food.details}}</td>
      <td><button type="button" name="button" class="btn" (click)="editFoodButton(food)">Edit</button></td>
    </tr>
  </tbody>
</table>
