<div>
    <div *ngIf="childSelectedFood">
      <h1>{{childSelectedFood.name}}</h1>
      <form>
        <label for='name'>Name:</label>
        <input name='name' type='text' [(ngModel)]="childSelectedFood.name" placeholder='Food name'>

        <label for='brand'>Calories:</label>
        <input name='calories' type='number' min='0' [(ngModel)]="childSelectedFood.calories">

        <label for='details'>Details:</label>
        <input name='details' type='text' [(ngModel)]="childSelectedFood.details">
      </form>
      <button class="btn green" (click)="doneButtonClicked()">Done</button>
    </div>
  </div>
